<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Serviços</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openModal()">
        <span class="material-symbols-outlined button-icon">add</span>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-searchbar
    placeholder="Buscar serviço"
    animated="true"
    debounce="500"
    [(ngModel)]="searchTerm"
  ></ion-searchbar>

  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  @if (loading) {
  <div class="loading-container">
    <ion-spinner></ion-spinner>
  </div>
  } @if (!loading && filteredWorks().length === 0) {
  <div
    class="empty-state ion-display-flex ion-flex-column ion-justify-content-center ion-align-items-center"
  >
    <ion-icon name="construct" size="large"></ion-icon>
    <p>Nenhum serviço encontrado</p>
    <ion-button (click)="openModal()" fill="solid">
      <span class="material-symbols-outlined button-icon">add</span>
      Adicionar Serviço
    </ion-button>
  </div>
  } @if (!loading && filteredWorks().length > 0) {
  <ion-list>
    @for (work of this.filteredWorks(); track $index) {
    <ion-card>
      <ion-card-header>
        <ion-card-title>{{ work.name }}</ion-card-title>
        <ion-card-subtitle
          >R$ {{ work.price | number : '1.2-2' }}</ion-card-subtitle
        >
      </ion-card-header>
      <ion-card-content>
        <div>
          <ion-button fill="clear" size="small" (click)="openModal(work)">
            <span class="material-symbols-outlined">edit</span>
          </ion-button>
          <ion-button
            fill="clear"
            size="small"
            color="danger"
            (click)="deleteWork(work)"
          >
            <span class="material-symbols-outlined">delete</span>
          </ion-button>
        </div>
      </ion-card-content>
    </ion-card>
    }
  </ion-list>
  }
</ion-content>
